APP_ENV=development
APP_DEBUG=true

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=abubakkarsajid1@gmail.com
# Set to the actual password for POSTGRES_USER (create .env from this file)
POSTGRES_PASSWORD=Ahmad_11
POSTGRES_DB=test

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

LOG_LEVEL=INFO
LOG_JSON=false

